<p id="notice"><%= notice %></p>
<h4>Listing Concepts</h4>

<table class="striped">
    <thead>
    <tr>
      <th>Entry</th>
      <th>Text</th>
      <th>Relevance</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @concepts.each do |concept| %>
      <tr>
        <td><%= concept.entry_id %></td>
        <td><%= concept.text %></td>
        <td><%= concept.relevance %></td>
        <td><%= link_to 'Show', concept %></td>
        <td><%= link_to 'Edit', edit_concept_path(concept) %></td>
        <td><%= link_to 'Destroy', concept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @concepts %>
<br>
<%= link_to 'New Concept', new_concept_path %>
